:root {

    --primary-font: inria-serif, serif;

    --font-size-h1: 32px;
    --font-size-h2: 24px;
    --font-size-h3: 20px;
    --font-size-p: 14px;
    --font-size-label: 16px;

    --primary-color: #0F1724;
    --secondary-color: #F7F4F0;
    --accent-color: #FFFFFF;
}


.cart-container {
    margin: 20px auto;
    background-color: var(--secondary-color);
    padding-bottom: 30px;
    min-height: 100vh;
}

.cart-headline {
    color: var(--primary-color);
    text-align: center;
    font-weight: 500;
    font-size: var(--font-size-h1);
    padding-bottom: 20px;
}

.cart-item {
    display: grid;
    grid-template-columns: 150px 1fr auto;
    gap: 20px;
    padding: 20px 10px;
    align-items: center;    
}

.cart-image {
    width: 150px;
    object-fit: cover;
    margin-top: 15px;
    border: 1px solid var(--primary-color);
}

.cart-title {
    font-weight: 400;
    font-size: var(--font-size-h3);
    color: var(--primary-color);
}

.cart-prices {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 15px;
}

.cart-description,
.cart-price-normal,
.cart-price-old,
.cart-price-new {
    font-size: var(--font-size-p);
    font-weight: 300;
    margin: 10px auto;
}

.cart-price-old {
    text-decoration: line-through;
}

.cart-price-new {
    color: red;
}

.decrease,
.increase {
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-size: var(--font-size-label);
    padding: 2px 5px;
}

.quantity {
    font-size: var(--font-size-label);
}

.remove-button {
    border: none;
    background-color: transparent;
    color: var(--primary-color);
    font-size: var(--font-size-label);
    cursor: pointer;
    padding-top: 10px;
}

.cart-sum {
    text-align: center;
    padding-top: 20px;
}

.cart-sum-h2 {
    font-size: var(--font-size-h3);
    font-weight: 500;
    padding-bottom: 10px;
}

.cart-h3,
#cartTotal {
    text-align: center;
    font-size: var(--font-size-p);
    font-weight: 300;
    padding: 5px 0;
}

#checkoutButton {
    margin-top: 20px;
    cursor: pointer;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: var(--font-size-label);
    padding: 10px 20px;
}

.empty-cart {
    text-align: center;
    padding-left: 15px;
}
