:root {

    --primary-font: inria-serif, serif;

    --font-size-h1: 32px;
    --font-size-h2: 24px;
    --font-size-h3: 20px;
    --font-size-p: 14px;
    --font-size-label: 16px;

    --primary-color: #0F1724;
    --secondary-color: #F7F4F0;
    --accent-color: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--primary-font);
    background-color: var(--accent-color);
    color: var(--primary-color);
}


.login-form {
    background-color: var(--secondary-color);
    padding: 50px;
    width: 100%;
    max-width: 400px;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 80px auto;
    border: 1px solid var(--primary-color);
}

.login-h1 {
    font-size: var(--font-size-h2);
    margin-bottom: 30px;
    justify-content: center;
    display: flex;
    font-weight: 500;
    text-align: center;
}

.login-form label {
    font-size: var(--font-size-label);
    margin-bottom: 5px;
    display: block;
    padding-top: 20px;
    font-weight: 400;
}

.login-form input {
    width: 100%;
    padding: 16px 8px;
    margin-bottom: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 0;
    font-size: var(--font-size-p);
}

.login-form input:focus {
    border-color: var(--primary-color);
    outline: none;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 10px;
    font-size: var(--font-size-label);
    cursor: pointer;
    font-family: var(--primary-font);
    margin: 10px 0;
}

.login-form button:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.login-link {
    text-align: center;
    align-self: center;
    margin-top: 20px;
    font-weight: 300;
    font-size: var(--font-size-p);
}

.login-link a {
    color: var(--primary-color);
    font-size: var(--font-size-label);
}

.email-error,
.password-error {
    color: red;
    font-size: var(--font-size-p);
    margin: 0;
}

.login-error {
    color: red;
    font-size: var(--font-size-p);
    text-align: center;
    margin-top: 10px;
}

input.input-error {
    border: 1px solid red;
}

input.input-success {
    border: 1px solid green;
}

/* Log out */
.loggedin-message {
    text-align: center;
    font-size: var(--font-size-h3);
    padding-bottom: 20px;
}

.logout-button {
    display: block;
    margin: 20px auto 0 auto;
    margin-bottom: 20px;
    cursor: pointer;
}
