:root {

    --primary-font: inria-serif, serif;

    --font-size-h1: 32px;
    --font-size-h2: 24px;
    --font-size-h3: 20px;
    --font-size-p: 14px;
    --font-size-label: 16px;

    --primary-color: #0F1724;
    --secondary-color: #F7F4F0;
    --accent-color: #FFFFFF;
}

.product-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    margin: 76px 0;
    padding: 90px 50px 50px 50px;
}

.product-details-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 40px;
}

.product-image {
    margin-top: 10px;
    width: 100%;
    max-width: 350px;
    object-fit: cover;
    border: 1px solid var(--primary-color);
}

.product-title,
.product-description,
.product-specific-prices,
.rating-number,
.product-tags,
.share-url,
.copy-message,
.product-reviews,
.product-rating {
    font-family: var(--primary-font);
    color: var(--primary-color);
    margin-bottom: 20px;
}

.no-info {
    font-family: var(--primary-font);
    color: black;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: 300;
}

.product-title {
    font-size: var(--font-size-h2);
    font-weight: 400;
}

.product-description,
.product-specific-prices,
.rating-number {
    font-weight: 300;
    font-size: var(--font-size-label);
}

.original-price {
    text-decoration: line-through;
    color: var(--primary-color);
}

.discounted-price {
    color: red;
    font-weight: 500;
    margin-left: 10px;
}

.product-description {
    width: 390px;
}

.rating-number {
    padding-left: 10px;
}

.product-tags {
    display: flex;
    list-style: none;
    font-size: var(--font-size-label);
}

.product-tags li {
    border: 2px solid var(--primary-color);
    padding: 5px 10px;
    flex-direction: row;
    margin-right: 10px;
    margin-bottom: 23px;
    border-radius: 50px;
}

.copy-button {
    background-color: var(--primary-color);
    color: var(--accent-color);
    margin-right: 10px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.fa-share {
    color: var(--secondary-color);
    font-size: var(--font-size-label);
}

.share-section {
    position: relative;
}

.share-url {
    width: 100%;
    max-width: 250px;
    padding: 10px 15px;
    border-radius: 0;
    border: 1px solid var(--primary-color);
    margin-bottom: 20px;
}

.copy-message {
    position: absolute;
    font-weight: 400;
    padding-left: 10px;
}

.copy-message.hidden {
    display: none;
}

.reviews-header {
    font-size: var(--font-size-h3);
    font-weight: 400;
    margin-bottom: 5px;
}

.product-reviews {
    font-size: var(--font-size-p);
    list-style: none;
    border: 2px solid var(--primary-color);
    padding: 10px 8px;
    max-width: 300px;
}

.product-reviews li {
    margin-bottom: 10px;
    text-align: left;
}

.add-to-cart-button {
    display: block;
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    color: var(--accent-color);
    font-size: var(--font-size-label);
    border: none;
    font-weight: 500;
    padding: 15px 70px;
    cursor: pointer;
    margin-bottom: 20px;
}

.cart-toast {
    position: fixed;
    top: 80px;
    right: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-size: var(--font-size-h3);
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3000;
    opacity: 0;
    gap: 10px;
    pointer-events: none;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.cart-toast.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.cart-toast-button {
    display: flex;
    gap: 10px;
    padding-top: 20px;
    cursor: pointer;
}