:root {

    --primary-font: inria-serif, serif;

    --font-size-h1: 32px;
    --font-size-h2: 24px;
    --font-size-h3: 20px;
    --font-size-p: 14px;
    --font-size-label: 16px;

    --primary-color: #0F1724;
    --secondary-color: #F7F4F0;
    --accent-color: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    
body {
    font-family: var(--primary-font);
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* Register form styles */
.register-form {
    background-color: var(--accent-color);
    padding: 20px 40px;
    max-width: 400px;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 80px auto;
    border: 1px solid var(--primary-color);
}

.register-h1 {
    font-size: var(--font-size-h2);
    margin-bottom: 30px;
    display: flex;
    font-weight: 500;
    justify-content: center;
}

.register-form label {
    font-size: var(--font-size-label);
    margin-bottom: 5px;
    display: block;
    padding-top: 20px;
    font-weight: 400;
}

.register-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}

.register-form button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 10px;
    font-size: var(--font-size-label);
    cursor: pointer;
    font-family: var(--primary-font);
    margin: 10px 0;
}

.register-form button:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.register-link {
    text-align: center;
    margin-top: 20px;
    font-size: var(--font-size-label);
    font-weight: 300;
}

.email-error,
.password-error,
.name-error {
    color: red;
    font-size: 12px;
    margin: 0;
}

.input-error {
    border: 1px solid red !important;
}

.input-success {
    border: 1px solid green !important;
}