:root {

    --primary-font: inria-serif, serif;

    --font-size-h1: 32px;
    --font-size-h2: 24px;
    --font-size-h3: 20px;
    --font-size-p: 14px;
    --font-size-label: 16px;

    --primary-color: #0F1724;
    --secondary-color: #F7F4F0;
    --accent-color: #FFFFFF;
}

html, body {
    font-family: var(--primary-font);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: var(--primary-color);
    color: var(--accent-color);
    justify-content: space-between;
    position: relative;
    height: 100px;
    align-items: center;
    overflow-x: clip;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-right a {
    color: var(--accent-color);
    text-decoration: none;
    font-size: var(--font-size-label);
}

.logo {
    font-family: var(--primary-font);
    color: var(--accent-color);
    font-size: 50px;
    text-decoration: none;
    padding-left: 30px;
}

.search-container {
    position: relative;
}

.search-input {
    background-color: var(--secondary-color);
    width: 250px;
    height: 30px;
    border: none;
    padding-left: 20px;
    font-family: var(--primary-font);
    font-size: var(--font-size-h3);
    font-weight: 300;
    border-radius: 50px;
}

.search-input:focus {
    outline: none;
}

.search-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--primary-color);
    font-size: 20px;
}

.header-icons {
    padding-right: 44px;
}

.fa-user, .fa-bag-shopping {
    padding: 0 8px 0 8px;
    font-size: 30px;
    text-decoration: none;
    color: var(--secondary-color);
}

.footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--primary-font);
    padding: 40px 20px 20px 60px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer h3 {
    font-size: var(--font-size-h3);
    margin-bottom: 20px;
}

.footer p {
    font-size: var(--font-size-p);
} 
    
