:root {

    --primary-font: inria-serif, serif;

    --font-size-h1: 32px;
    --font-size-h2: 24px;
    --font-size-h3: 20px;
    --font-size-p: 14px;
    --font-size-label: 16px;

    --primary-color: #0F1724;
    --secondary-color: #F7F4F0;
    --accent-color: #FFFFFF;
}

html, body {
    font-family: var(--primary-font);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    display: flex;
    background-color: var(--primary-color);
    color: var(--accent-color);
    justify-content: space-between;
    position: relative;
    height: 100px;
    align-items: center;
    overflow-x: clip;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-right a {
    color: var(--accent-color);
    text-decoration: none;
    font-size: var(--font-size-label);
}

.logo {
    font-family: var(--primary-font);
    color: var(--accent-color);
    font-size: 50px;
    text-decoration: none;
    padding-left: 30px;
}

.search-container {
    position: relative;
}

.search-input {
    background-color: var(--secondary-color);
    width: 250px;
    height: 30px;
    border: none;
    padding-left: 20px;
    font-family: var(--primary-font);
    font-size: var(--font-size-h3);
    font-weight: 300;
    border-radius: 50px;
}

.search-input:focus {
    outline: none;
}

.search-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--primary-color);
    font-size: 20px;
}

.header-icons {
    padding-right: 44px;
}

.fa-user, .fa-bag-shopping {
    padding: 0 8px 0 8px;
    font-size: 30px;
    text-decoration: none;
    color: var(--secondary-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.cart-icon {
    position: relative;
}

.cart-count {
    position: absolute;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 50%;
    font-size: var(--font-size-label);
    padding: 2px 6px;
    top: -25px;
    right: -4px;
}

.cart-count:empty {
    display: none;
}


/* hamburger menu styles */
.hamburger-menu {
    border: none;
    background: var(--primary-color);
    color: var(--accent-color);
    font-size: 20px;
    padding-right: 20px;
}

.mobile-menu {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 120px;
    right: 0;
    width: 100%;
    background-color: var(--primary-color);
    z-index: 999;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    height: calc(100vh - 120px);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.fa-bars {
    display: none;
}

.mobile-menu.active {
    transform: translateX(0);
}

.mobile-menu-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mobile-nav-links li {
    padding: 20px 0 20px 0;
    border-bottom: 1px solid var(--secondary-color);
    width: 100%;
    margin-left: 10px;
    list-style: none;
}

.mobile-nav-links a {
    display: inline-block;
    color: var(--secondary-color);
    text-decoration: none;
}

.mobile-icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.mobile-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--secondary-color);
    text-decoration: none;
}

/* Loader styles */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    border: 8px solid var(--primary-color);
    border-top: 8px solid var(--accent-color);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader.hidden {
    display: none;
}

/* Footer styles */
.footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--primary-font);
    padding: 40px 20px 20px 60px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer h3 {
    font-size: var(--font-size-h3);
    margin-bottom: 20px;
}

.footer p {
    font-size: var(--font-size-p);
} 


/* Responsive styles */
@media (max-width: 768px) {
    
    .header-right {
        display: none;
    }

    .logo {
        padding-left: 15px;
    }

    .hamburger-menu {
        display: block;
    }

    .fa-bars {
        display: block;
    }


    .footer {
        padding: 30px 15px 15px 15px;
    }

    .footer-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .footer h3 {
        font-size: calc(var(--font-size-h3) * 0.85); /* Scale down the font size for smaller screens */
        margin-bottom: 15px; /* Reduce the margin for smaller screens */
    }

    .footer p {
        font-size: calc(var(--font-size-p) * 0.9); /* Scale down the font size for smaller screens */
        line-height: 1.4; /* Adjust line height for better readability on smaller screens */
    }
}
